<%- include("header") -%>

          <div class="box"><h1 id="heading"><%= listTitle %> !</h1></div>
          <div class="box">
              <% for(var i =0 ; i<kindofItems.length ;i++) { %>
              
            <form action="/delete" method="post"  name="checkbox"> 
                 <div class="item" >
                <input type="checkbox" value="<%=kindofItems[i]._id %>" name="checkbox" onChange="this.form.submit()">
                <p><%= kindofItems[i].name %></p></div>
            <% }%>
            <input type="hidden" name="listName" value="<%=listTitle %>" >
        </form>
              


              <form action="/" method="post" class="item">
                  <input type="text" name="newItem" placeholder="New Item"/ autocomplete="off">
                  <button ty pe="submit" name="list" value=<%= listTitle %>>+</button>
                </form>
          </div>
    
  
      <%- include("footer") -%>
